
* {
    border: 0;
    padding: 0;
    margin: 0;
}
H1, H2, H3 {
    font-family: 'Playfair Display', serif;
}
p {
    font-size: larger;
    text-align: justify;
}
p, a, label, button {
    font-family: 'Raleway', sans-serif;
}
nav {
    background-color: #80489C;
}

footer {
    background-color: #80489C;
}
button, .cta, .btn {
    background-color: #432C7A;
    color: white;
}
#hero {
    /* opacity:60%; */
    border-radius: 40px;
    height: 80vh;
    width: auto;
}
.social {
    background-color: #80489C;
    padding: 10px;
    border-radius: 8px;
}
.accordion-button {
    background-color: #80489C;
}
.garden1 {
    width: 70vw;
    height: auto;
}
.personal-div, .collab-div {
    border: black solid 2px;
}
.collab-img {
    height: 10rem;
    width: auto;
}
a:hover {
    color:#432C7A;
}
a:focus {
    color:#432C7A;
}
li:hover {
    background-color: #432C7A;
    border-radius: 10rem;
}